html body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #00fbbb;
}

img {
	width: 100%;
}

#container {
	margin: auto;
	margin-top: 40px;
}

@media only screen and (min-width: 700px){
	#container {
		width: 40%;
	}
}

.box {
	background-color: beige;
	min-height: 180px;
	margin: 5px;
	border: 1px solid black;
	border-bottom: 2px solid black;
}

.likeBtn {
	width: 33.33%;
	height: 40px;
	border: none;
}

.commentBtn {
	width: 33.33%;
	height: 40px;
	border: none;
}

.dislikeBtn {
	width: 33.33%;
	height: 40px;
	border: none;
}

#header {
	height: 40px;
	background-color: #00bfff;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 7px lightgrey;
	display: flex;
	justify-content: space-around;
}

#upload{
	order: 1;
	line-height: 1.5;
	font-size: 28px;
	cursor: pointer;
}

#logoutBtn{
	order: 2;
	line-height: 1.5;
	font-size: 28px;
	cursor: pointer;
}

#profileBtn {
	order: 0;
	line-height: 1.5;
	font-size: 28px;
	cursor: pointer;
}

#login {
	float: right;
	background-color: #00fbbb;
	color: black;
}

#loginBtn {
	margin-bottom: 12px;
	margin-right: 10px;
}
#login:hover {
	background-color: #00bfff;
}

.likeTxt {
	vertical-align: text-bottom;
}

.dislikeTxt {
	vertical-align: super;
}

.memeDetails {
	font-family: sans-serif;
	background-color: #414142;
	color: white;
	font-size: 12px;
	height: 23px;
	line-height: 24px;
	cursor: pointer;
}

#myModal {
	background-color: #00bfff;
}

#uploadModal {
	background-color: #00bfff;
}

.commentBox {
	display: flex;
}

.commentList {
	flex-grow: 1;
}

.breaker {
	border: 1.2px solid #00bfff;
}

#memeModal {
	background-color: #00bfff;
}

#memeModalHeader {
	background-color: #00bfff;
	color: white;
}

#closeMemeModal {
	font-size: 30px;
}

#memeModalFooter {
	position: sticky;
	bottom: 0;
	background-color: #00bfff;
	display: flex;
	justify-content: end;
}

/*loader*/
#loader {
	display: none;
	margin: auto;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
