html body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #00fbbb;
}

img {
	width: 100%;
}

#container {
	margin: auto;
	margin-top: 40px;
}

@media only screen and (min-width: 700px){
	#container {
		width: 40%;
	}
}

.box {
	background-color: beige;
	min-height: 180px;
	margin: 5px;
	border: 1px solid black;
	border-bottom: 2px solid black;
}

.likeBtn {
	width: 50%;
	height: 40px;
	border: none;
}

.dislikeBtn {
	width: 50%;
	height: 40px;
	border: none;
}

#header {
	height: 40px;
	background-color: #00bfff;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 7px lightgrey;
}

#profileBtn {
	float: left;
	margin-left: 2px;
	color: black;
	background-color: #00fbbb;
}

#profileBtn:hover {
	background-color: #00bfff;
}

#logoutBtn {
	float: right;
	margin-left: 8px;
	color: black;
	background-color: #00fbbb;
}

#logoutBtn:hover {
	background-color: #00bfff;
}

#upload {
	float: right;
	background-color: #00fbbb;
	color: black;
}

#upload:hover {
	background-color: #00bfff;
}

#login {
	float: right;
	background-color: #00fbbb;
	color: black;
}

#login:hover {
	background-color: #00bfff;
}

.likeTxt {
	vertical-align: text-bottom;
}

.dislikeTxt {
	vertical-align: super;
}

.memeDetails {
	font-family: sans-serif;
	background-color: #414142;
	color: white;
	font-size: 12px;
	height: 23px;
	line-height: 24px
}

#myModal {
	background-color: #00bfff;
}

#uploadModal {
	background-color: #00bfff;
}

/*loader*/
#loader {
	display: none;
	margin: auto;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
